---
title: NYC // Web Development Fellows
season: Winter 2013
---



.students
  %ul.clearfix
    %li.jumbo
      %h1
        = current_page.data.title.upcase
      %h1.subtitle
        = current_page.data.season.upcase
    - data.students.each do |student|
      = partial "partials/student", :locals=>{:student=>student}

